.clients-grid {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(9, 1fr);
}

.clients-grid div {
    display: flex;
    max-height: 150px;
    max-width: 150px;
    align-items: center;
    justify-content: center;
}

.clients-grid img {
    object-fit: cover;
    max-height: 150px;
    max-width: 150px;
}

@media (max-width: 850px){
    .clients-grid{
        grid-template-columns: repeat(3, 1fr);
    }

    .clients-grid div {
        max-width: 100px;
        max-height: 100px;
    }

    .clients-grid img {
        max-width: 100px;
        max-height: 100px;
    }
}