.mobile-navbar{
    display: none;
}


@media (max-width: 850px){
	.mobile-navbar {
		display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
        position: sticky;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
        z-index: 1000;
        top: 0;
        left: 0;
	}

    .mobile-navbar-elements {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0px 20px;
    }

    .mobile-navbar-logo img {
        max-height: 50px;
	    object-fit: cover;
    }

    .mobile-navbar-button {
        color: gray;
        cursor: pointer;
    }

    .mobile-menu-open {
        display: flex;
        width: 100%;
        background-color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .mobile-nav-ul {
        padding: 0;
    }

    .mobile-nav-ul li {
        margin-bottom: 10px;
    }

    .mobile-nav-ul a {
        color: #808080;
        border-bottom: 3px solid transparent;
        transition: all 0.5s ease;
    }
    
    .mobile-nav-ul a.active-link, .mobile-nav-ul a:hover {
        color: #39ad00;
        border-bottom: 3px solid #39ad00;
    }

    .mobile-menu-closed {
        display: none;
    }
}
