.video-container {
	position: sticky;
	top: 0;
	height: 60vh;
	width: 100%;
	overflow: hidden;
	object-fit: contain;
}
.video-container video {
	position: absolute;
	width: 100%;
}

@media (max-width: 850px){
	.video-container{
		height: 25vh;
	}
}