/* .clients-carousel {
    display: flex;
    flex-direction: row;
    width: 80%;
    transition: all 0.5s linear;
    overflow: hidden;
}

.clients-carousel .client {
    display: flex;
    max-height: 150px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.clients-carousel img {
    object-fit: contain;
    max-height: 200px;
    max-width: 200px;
}

@media (max-width: 850px) {
    .clients-carousel .client {
        max-width: 100px;
        max-height: 100px;
    }

    .clients-carousel img {
        max-width: 100px;
        max-height: 100px;
    }
} */

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.carousel {
    overflow: hidden;
    width: 80vw;
    white-space: nowrap;
    /* padding: 5vh; */
    position: relative;
}

.carousel::before, .carousel::after{
    position: absolute;
    top: 0;
    height: 100%;
    width: 5vw;
    content: '';
    z-index: 2;
    white-space: nowrap;
}

.carousel::before {
    left: 0;
    background: linear-gradient(to left,rgba(255, 255, 255, 0), white);
}

.carousel::after {
    right: 0;
    background: linear-gradient(to right,rgba(255, 255, 255, 0), white);
}

.carousel:hover .clients-slide{
    animation-play-state: paused;
}

.clients-slide {
    display: inline-block;
    animation: 60s slide infinite linear;
}

.clients-slide img {
    height: 20vh;
    margin: 0 20px;
}

@media (max-width: 850px) {
    .clients-slide img {
        height: 40vh;
    }
}