.team-section {
  padding: 5% 10%;
  min-height: 10vh;
  background-color: white;
  width: 80%;
  /* display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; */
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 1fr;
  gap: 100px;
  color: #39ad00;
  text-align: center;
}

.employee-section {
  padding: 5% 10%;
  min-height: 10vh;
  width: 80%;
  text-align: center;
  color: #39ad00;
}

.left-employee {
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 40vh;
  margin-bottom: 10vh;
}

.coordinator-img-container {
  width: 20%;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
}

.coordinator-links {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding-left: 20px;
}

.colaboration-section {
  padding: 5% 10%;
  min-height: 10vh;
  width: 80%;
  text-align: center;
  color: #39ad00;
  background-color: white;
}

.icon-information-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  transition: all ease 0.5s;
  cursor: pointer;
}

.icon-information-container .icon-container {
  border-radius: 8px;
  height: 30px;
  padding: 10px;
  object-fit: contain;
  background-color: #39ad00;
  transition: all ease 0.5s;
}

.icon-information-container .icon-container img {
  height: 100%;
  filter: brightness(0) invert(1);
  transition: all ease 0.5s;
}

.icon-information-container .text-container {
  border-bottom: 2px solid transparent;
  transition: all ease 0.5s;
}

.icon-information-container:hover .icon-container {
  background-color: #fff;
}

.icon-information-container:hover img {
  filter: invert(41%) sepia(98%) saturate(1005%) hue-rotate(66deg)
    brightness(99%) contrast(103%);
}

.icon-information-container:hover .text-container {
  border-color: #39ad00;
}


@media (max-width: 850px) {
  .left-employee {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-employee h2 {
    text-align: left;
  }

  .coordinator-img-container {
    width: fit-content;
  }

  .coordinator-links {
    /* flex-direction: row; */
    padding-left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .icon-information-container {
    width: 100%;
    justify-content: center;
  }
}