@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Fira Sans", sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  font-weight: 500;
}

p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f0f0f0;
}

a {
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  /* transition: all 0.5 ease; */
}

a:visited {
  color: inherit;
}

ul {
  list-style: none;
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #f0f0f0;
}
.phrase-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
  gap: 15px;
  text-align: center;
  background-size: cover;
  background-image: url("../public/assets/images/pasto_blanco.png");
  /* background-color: white; */
  color: #39ad00;
  /* background-color: #39ad00; */
  /* color: white; */
}

.phrase-section h2 {
  margin-bottom: 25px;
}

@media (max-width: 850px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 18px;
  }

  .phrase-section {
    text-align: center;
  }
}
