.project-grid-element {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border-bottom: 2px solid #39ad00;
}

.project-texts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	max-width: 100%;
	overflow: hidden;
	gap: 5px;
}

.project-texts p {
	text-align: justify;
	width: 100%;
	word-wrap: break-word;
	color: gray;
}

.project-title {
	color: #39ad00;
}

.project-client {
	overflow: hidden;
	object-fit: contain;
	display: flex;
	align-items: center;
	justify-content: center;
}

.project-client img {
	height: 150px;
	width: auto;
}
